.card-about {
    height: 100%;
}
.about-row {
    display: flex;
    flex-direction: row; /*Делает строчный*/
    justify-content: space-between; /*Распределяет пространство между блоками */
    /* align-items: center; Выравнивает элементы по одной линии по центру */
    flex-wrap: wrap;
}
.card-about_size {
    /* margin-bottom: 45px; */
    padding: 10px;
    width: 650px;
    height: 100%;
    min-width: 240px;
}
.about-img-text_row {
    margin-bottom: 45px;
    display: flex;
    flex-direction: row; /*Делает строчный*/
    /* justify-content: space-between; Распределяет пространство между блоками */
    align-items: center; /*Выравнивает элементы по одной линии по центру */
    /* flex-wrap: wrap; */
}
.card-about_left {
    /* height: 100%; */
    background: red;
}

.about-img {
    border-radius: 50%;
    margin-right: 10px;
    width: 150px;
    height: 150px;
}
.about-text {
    font-size:20px;
}



.card-about_point {
    padding: 2px;
    width: 10px;
    /* height: 10px; */
    background: red;
}


/* Убираем стандартный вывод метки списка */
.about_point {
    list-style-type: none;
    
    
}
/* Нужно обязательно указать высоту строки и позиционирование */
.about_point>li {
    font-size: 18px;
    line-height: 18px;
    position: relative;
    line-height: 1.5;
}
.about_point>li::before {
    color: #000;
    /* UTF-8 escape sequence, соответствующая символу "Маркер списка" */
    content:"\2022";
    /* Делаем больше, чем основной текст в li */
    font-size: 26px;
    font-weight: 700;
    /* Элемент вырван из потока, выравниваем отрицательным отступом */
    left: -15px;
    /* Высота строки и позиционирование необходимы для выравнивания по вертикали */
    line-height: 18px;        
    position: absolute;
    top: 0;
}


.card-about_right_row {
    display: flex;
    flex-direction: row; /*Делает строчный*/
    /* justify-content: space-between; Распределяет пространство между блоками */
    align-items: center; /*Выравнивает элементы по одной линии по центру */
    /* flex-wrap: wrap; */
}

.size-specifications {
    width: 325px;
}
