
.about-row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    flex-wrap: wrap;
    font-family: 'Calibri', sans-serif;
}
@media(max-width: 1300px) {
    .about-row   {
        justify-content: center;
    }
}
.card-about_size {
    padding: 10px;
    max-width: 650px;
    min-height: 500px;
    min-width: 240px;
}
.about-img-text_row {
    margin-bottom: 45px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
}
@media(max-width: 590px) {
    .about-img-text_row    {
        justify-content: center;
        flex-wrap: wrap;
    }
}
.about-img {
    margin-bottom: 10px;
    border-radius: 50%;
    margin-right: 10px;
    width: 150px;
    height: 150px;
}
.about-text {
    font-size:20px;
    font-family: 'Calibri', sans-serif;
}
.card-about_point {
    padding: 2px;
    width: 10px;

}
.about_point {
    /* list-style-type: none; */
    font-size: 20px;
}
.about_point>li {
    position: relative;
    line-height: 1.5;
}
/* .about_point>li::before {
    color: #000;
    content:"\2022";
    font-size: 26px;
    font-weight: 700;
    left: -15px;
    line-height: 18px;        
    position: absolute;
    top: 3px;
} */
.card-about_right_row {
    display: flex;
    flex-direction: row; /*Делает строчный*/
}

.size-specifications {
    width: 325px;
}
.size-specifications>span{
    font-size: 20px;
    font-weight: bold;
}
.size-specifications>ul>li {
    font-size: 20px;
}
.card-about_right_area>ul, .card-about_right_specifications>ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 1.5;
}





/* user_card */
.glav-user {
    padding-left: 65px;
    padding-right: 65px;
}
@media(max-width: 830px) {
    .glav-user {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.glav-user_card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Calibri', sans-serif;
}
@media(max-width: 830px) {
    .glav-user_card-row {
        flex-direction: column;
        justify-content: right;
        align-content: center;
    }
}

.glav-user_card {
    width: 270px;
    padding: 10px;
    margin-bottom: 45px;
}

.user-card_name {
    font-size: 23px;
    text-align: center;
    margin-bottom: 17px;
    
}
.user-card_img>img {
     width: 250px;
     margin-bottom: 17px;

}
.user-card_descript {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}
/* //user_card */


