.card-about {
    background: #fff;
}
.about-row {
    display: flex;
    flex-direction: row; /*Делает строчный*/
    justify-content: space-between; /*Распределяет пространство между блоками */
    /* align-items: center; Выравнивает элементы по одной линии по центру */
    flex-wrap: wrap;
}
.card-about_size {
    /* margin-bottom: 45px; */
    padding: 10px;
    width: 650px;
    min-height: 500px;
    min-width: 240px;
}
.about-img-text_row {
    margin-bottom: 45px;
    display: flex;
    flex-direction: row; /*Делает строчный*/
    /* justify-content: space-between; Распределяет пространство между блоками */
    align-items: center; /*Выравнивает элементы по одной линии по центру */
    /* flex-wrap: wrap; */
}
.card-about_left {
    /* height: 100%; */
    background: red;
}

.about-img {
    border-radius: 50%;
    margin-right: 10px;
    width: 150px;
    height: 150px;
}
.about-text {
    font-size:20px;
}



.card-about_point {
    padding: 2px;
    width: 10px;
    /* height: 10px; */
    background: red;
}
.about_point {
    list-style-type: none;
    
    
}
.about_point>li {
    font-size: 18px;
    line-height: 18px;
    position: relative;
    line-height: 1.5;
}
.about_point>li::before {
    color: #000;
    content:"\2022";
    font-size: 26px;
    font-weight: 700;
    left: -15px;
    line-height: 18px;        
    position: absolute;
    top: 3px;
}


.card-about_right_row {
    display: flex;
    flex-direction: row; /*Делает строчный*/
    /* justify-content: space-between; Распределяет пространство между блоками */
    /* align-items: center; Выравнивает элементы по одной линии по центру */
    /* flex-wrap: wrap; */
}

.size-specifications {
    width: 325px;
}

.card-about_right_area>ul, .card-about_right_specifications>ul {
    list-style-type: none;
    padding-left: 10px;
}
