.activity_item {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* background: red; */
}

.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
}
.activity_item-title {
    font-size: 28px;
    font-weight: 600;
}
.activity_item-date {
    font-weight: 600;
    font-size: 18px;
    color: #999999;
}
.activity_item-description>img {
    float: left;
    margin-right: 20px;
    width: 375px;
    height: 250px;
    margin-bottom: 10px;
}
@media(max-width: 900px) {
    .activity_item-description>img {
        width: 303px;
        margin-bottom: 15px;
        margin-right: 0;
    }
}
.activity_item-description>p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.activity_item_gogo {
    margin-top: 220px;
    margin-bottom: 180px;
    text-align: center;
}
.activity_item_gogo>p {
    font-size: 24px;
    font-weight: 600;
}

.activity_item_gogo>a{
    text-decoration: none;
    color: aliceblue;
    background: #0069d9;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
}