@font-face{

    font-family: 'Calibri';

    src: url('../fonts/Calibri/Calibri.eot');

    src: url('../fonts/Calibri/Calibri.eot?iefix') format('eot'),

    url('../fonts/Calibri/Calibri.woff') format('woff'),

    url('../fonts/Calibri/Calibri.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;
}
@font-face{

    font-family: 'Andika';
    
    src: url('../fonts/Andika/Andika.eot');
    
    src: url('../fonts/Andika/Andika.eot?iefix') format('eot'),
    
    url('../fonts/Andika/Andika.woff') format('woff'),
    
    url('../fonts/Andika/Andika.ttf') format('truetype');
    
    font-weight: normal;
    
    font-style: normal;
    }


@font-face{

    font-family: 'Roboto';

    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');

    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?iefix') format('eot'),

    url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),

    url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;
}












/* .Calibri {
    font-family: 'Calibri', sans-serif;
    font-weight: 900;
} */
/* .MyriadPro {
    font-family: 'PT Sans', sans-serif;
} */
/* .Tahoma {
    font-family: 'Farro', sans-serif;
} */
/* .Calibri {
    font-family: 'Noto Serif', serif;
} */


